h1{
 color: crimson;
 font-size: 10rem;
 text-decoration: overline;
 text-shadow: 4px 5px 6px rgb(196, 196, 196);
  font-family: "Bebas Neue", sans-serif;
}

.texto_azul{
    color: crimson;
}

.fondoS1{
   background-image: url('the-office.jpg');
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}

.fondoS2{
    padding: 50px 50px;
    background-color: rgb(212, 212, 212); 
    height: 400px;
    background-size: contain;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    
    
}

.fondoS3{
    background-color: rgb(0, 4, 58); 
    height: 400px;
    background-size: contain;
    margin: 30px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif; 
    font-size: 2rem;
    
}

.colorblanco{
    color: aliceblue;
}