h1{
 color: crimson;
 font-size: 12rem;
 text-shadow: 4px 5px 6px rgb(196, 196, 196);
  font-family: "Bebas Neue", sans-serif;
}


.fondoS1{
   background-image: url('Imagenes/704589.jpg');
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}

.resumen{
    padding: 60px 60px;
    background-color: crimson;
    height: 300px;
    background-size: contain;
    margin: 40px;
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 20px;
    
}

.personajes{
    height: 500px;
    margin: 80px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif; 
    font-size: 2rem;
    border-radius: 30px;
}

.personajes{
    display: flex;
    justify-content: center ;
}

.personajes img{
    width: 270px;  
    border-radius: 20px;
    margin: 0 30px 0 30px;
    transition: transform 0.3;

}

.personajes img:hover{
    transform: scale(1.05);
}

h2{
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    padding: 1.5rem 2rem;
    margin: 0;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgb(192, 192, 192);
    text-decoration: none;
}

nav a{ 
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin: 0 1rem;

}

nav a:hover{
    color: crimson;
}

footer{
    height: 200px;
    font-family: "Bebas Neue", sans-serif;
    padding: 2rem 1rem ;
    text-align: center;
    background-color: crimson;
    font-size: 1.5rem;
}

.textop{
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}